@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

// font-family: 'Big Shoulders Display', cursive;
// font-family: 'Lexend Deca', sans-serif;

body {
	background-color: $xlt-gray;
	font-family: 'Lexend Deca', sans-serif;
}
